{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="bg-color-light">
        <div class="container content-sm">
            <!-- Blog Posts -->
            <div class="news-v3 bg-color-white margin-bottom-60">
                <img class="img-responsive full-width" src="{% static 'img/main/img10.jpg' %}" alt="">

                <div class="news-v3-in">

                    <h2><a href="#">Change a Color Wrap</a></h2>

                    <p>Full colour digitally printed vehicle wraps for any vehicle, van, car, bus, lorry, a very strong
                        & effective solution to advertising your companies brand.

                        We believe that every car and vehicle can be an indispensable tool to your mobile marketing
                        strategy.

                        It’s no secret. American has discovered the power of using car wraps to advertise.

                        A custom vehicle wrap from Car Wraps Center can give your business visibility where you never
                        had it before. Let your wrap do the talking while you are out at a restaurant, at the movies, or
                        simply driving down the street. Is your business located in a shopping center that is hard to
                        see? Have restrictions about what signage you can use on your storefront? Think of your custom
                        vehicle wrap from Car Wraps Center as your mobile advertising solution. Wrap your vehicle with
                        us and park it in strategic locations to raise visibility for your business.</p>

                </div>
            </div>

            <!-- End Blog Posts -->
            <div class="news-v3 bg-color-white margin-bottom-60">
                <img class="img-responsive full-width" src="{% static 'img/main/img11.jpg' %}" alt="">

                <div class="news-v3-in">

                    <h2><a href="#">WHY WRAP INSTEAD PAINT ?</a></h2>

                    <p>Cost: A high quality paint job can range from $2,000-$10,000 depending on the color, paint shop,
                        and quality of the paints. Professionally installed vinyls with the highest quality materials
                        can cost $500-$5,000+ and will have a life expectancy of 5-8 years vinyl depending. For a
                        fraction of the cost of paint, one can choose to wrap their vehicle for as long or little as one
                        desires.

                        Resale Value: Being able to maintain the manufacturers original paint will keep the resale value
                        intact from a devalued exotic color. If your company or preference is for instance a bright
                        exotic color, it may not be your potential buyers favorite color. Having the option to keep your
                        vehicles original factory color will allow you to keep your resale value intact.

                        Countless Options: Upon purchasing your vehicle you may have wanted something different, or
                        possibly a color that is not available in factory paint. This is where vinyl wraps will allow
                        all of your car fantasies to come true. With hundreds of color choices and digitally printed
                        custom designs, you may transform your vehicle to the way you have always wanted it. You will be
                        able to stand out from all of the others and have a truly one of a kind vehicle. If after a few
                        years you are looking for change once again, just have us remove it and choose a new color!
                        Transform your vehicle every few years and keep everyone guessing!

                        Installation Time: When choosing to paint your vehicle you are allowing yourself to be without
                        transportation for up to two weeks or longer. When it comes to wrapping a vehicle, we can have
                        your car fully transformed within 2-5 days and ready to be picked back up. Don’t leave yourself
                        stranded, wrap it!

                        Protection: Every covered inch of your vehicle in vinyl is protecting your factory paint from
                        all natural hazards and weathering. This allows your paint to age naturally and not be affected
                        by prolonged sun exposure. Vehicle wrap vinyl is a very durable material and will act as a
                        shield. Say goodbye to stone chips, abrasion, and other natural hazards!

                        Easy Maintenance: Is constantly waxing your vehicle beginning to take a toll on you? Allow
                        yourself enjoy never having to wax again! Vehicle wraps are extremely easy to maintain and will
                        look brand new once again from only hand washing with soap and water. Another effective form of
                        caring for your wrap is to use a microfiber rag and 70% alcohol to wash away any dirt or
                        smudges.

                        Long Lasting, Safe Removal: High quality vinyls ensure a long lasting product that can also be
                        safely removed. A wraps life is highly affected by how long it is left outside in the sun
                        causing it to fade quicker. Keeping your vehicle in the garage will allow you to maximize your
                        wraps life to the fullest extent. The vehicle wrap may be removed safely between the 5-8 year
                        period and will NOT affect your current paint.</p>

                                       <br>
                    <div class="heading heading-v1 margin-bottom-20">
				<h2>FULL WRAPS</h2>
				<p>CHANGE OF COLORS</p>
			</div>
                    <br>
                    <br>
{#                    pricing tables#}
                    <div class="row margin-bottom-40">
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Compact Cars</h3>
							<h4><i>$999</i>-1<i>.500</i></h4>
						</div>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Sedans</h3>
							<h4><i>$</i>1<i>.500</i>-5<i>.000</i></h4>
						</div>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Trucks</h3>
							<h4><i>$</i>1<i>.200</i>-3<i>.000</i></h4>
						</div>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>SUVs</h3>
							<h4><i>$</i>2<i>.000</i>-6<i>.000</i></h4>
						</div>

					</div>
				</div>
			</div>
    <div class="row  margin-bottom-30">
                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img27.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 1">
                                <span><img class="img-responsive" src="{% static 'img/main/img27.jpg' %}" alt=""></span>
                            </a>
                        </div>
                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img28.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 2">
                                <span><img class="img-responsive" src="{% static 'img/main/img28.jpg' %}" alt=""></span>
                            </a>
                        </div>

                     <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img29.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 1">
                                <span><img class="img-responsive" src="{% static 'img/main/img29.jpg' %}" alt=""></span>
                            </a>
                        </div>
                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img30.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 2">
                                <span><img class="img-responsive" src="{% static 'img/main/img30.jpg' %}" alt=""></span>
                            </a>
                        </div>
         </div>


                </div>
            </div>

            <!-- End Blog Posts -->
        </div>
    </div>
{% endblock %}