{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="bg-color-light">
        <div class="container content-sm">
            <!-- Blog Posts -->
            <div class="news-v3 bg-color-white margin-bottom-60">
                <img class="img-responsive full-width" src="{% static 'img/main/img13.jpg' %}" alt="">

                <div class="news-v3-in">

                    <h2><a href="#">Comercial wrap</a></h2>

                    <p>Full colour digitally printed vehicle wraps for any vehicle, van, car, bus, lorry, a very strong
                        & effective solution to advertising your companies brand.

                        We believe that every car and vehicle can be an indispensable tool to your mobile marketing
                        strategy.

                        It’s no secret. American has discovered the power of using car wraps to advertise.

                        A custom vehicle wrap from Car Wraps Center can give your business visibility where you never
                        had it before. Let your wrap do the talking while you are out at a restaurant, at the movies, or
                        simply driving down the street. Is your business located in a shopping center that is hard to
                        see? Have restrictions about what signage you can use on your storefront? Think of your custom
                        vehicle wrap from Car Wraps Center as your mobile advertising solution. Wrap your vehicle with
                        us and park it in strategic locations to raise visibility for your business.</p>

                    <br>
                    <div class="heading heading-v1 margin-bottom-20">
				<h2>FULL WRAPS</h2>
				<p>GRAPHICS WRAP</p>
			</div>
                    <br>
                    <br>
{#                    pricing tables#}
                    <div class="row margin-bottom-40">
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Trailers</h3>
							<h4><i>$</i>1<i>.200</i>-3<i>.500</i></h4>
						</div>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Sedans</h3>
							<h4><i>$</i>1<i>.500</i>-5<i>.000</i></h4>
						</div>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Trucks</h3>
							<h4><i>$</i>1<i>.200</i>-3<i>.000</i></h4>
						</div>

					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="pricing hover-effect">
						<div class="pricing-head">
							<h3>Food Trucks</h3>
							<h4><i>$</i>2<i>.000</i>-6<i>.000</i></h4>
						</div>

					</div>
				</div>
			</div>

    <div class="row  margin-bottom-30">
                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img24.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 1">
                                <span><img class="img-responsive" src="{% static 'img/main/img24.jpg' %}" alt=""></span>
                            </a>
                        </div>
                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img25.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 2">
                                <span><img class="img-responsive" src="{% static 'img/main/img25.jpg' %}" alt=""></span>
                            </a>
                        </div>

                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img26.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 1">
                                <span><img class="img-responsive" src="{% static 'img/main/img26.jpg' %}" alt=""></span>
                            </a>
                        </div>

                    </div>
                </div>
            </div>
            <!-- End Blog Posts -->


        </div>
    </div>
{% endblock %}