{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="bg-color-light">
        <div class="container content-sm">
            <!-- Blog Posts -->
            <div class="news-v3 bg-color-white margin-bottom-60">
                <img class="img-responsive full-width" src="{% static 'img/main/img12.jpg' %}" alt="">

                <div class="news-v3-in">

                    <h2><a href="#">Signs & Printing</a></h2>

                    <p>It's a Wrap and Printing is a full service sign company that can help with any type of project.
                        Our designer can work directly with you to give you the best result. We can help direct traffic
                        and advertise for a community event or brand and create a street presence for a new business. We
                        can produce any Banners, Yard Signs, Magnetic Signs, Parking Signs, Traffic Signs, Retractable
                        Banner Stands, Custom Decals, Post and Panel Signs, Vehicle Magnets, Business Cards, Postcards,
                        Bruchures, Door Hangers, CD or DVD Print, Feather Flags, Real Estate Signs Acrylics Signs,
                        Displays tradeshow, Sidewalk Signs, Menu Boards, and more</p>


                    <div class="row  margin-bottom-30">
                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img15.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 1">
                                <span><img class="img-responsive" src="{% static 'img/main/img15.jpg' %}" alt=""></span>
                            </a>
                        </div>
                        <div class="col-sm-2 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img16.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 2">
                                <span><img class="img-responsive" src="{% static 'img/main/img16.jpg' %}" alt=""></span>
                            </a>
                        </div>
                    </div>
                      <div class="row  margin-bottom-30">
                        <div class="col-sm-4 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img17.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 1">
                                <span><img class="img-responsive" src="{% static 'img/main/img17.jpg' %}" alt=""></span>
                            </a>
                        </div>
                        <div class="col-sm-4 sm-margin-bottom-30">
                            <a href="{% static 'img/main/img18.jpg' %}" rel="gallery" class="fancybox img-hover-v1"
                               title="Image 2">
                                <span><img class="img-responsive" src="{% static 'img/main/img18.jpg' %}" alt=""></span>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
            <!-- End Blog Posts -->


        </div>
    </div>
{% endblock %}