{% extends 'base.html' %}
{% load static from staticfiles %}
{% block content %}
    <div class="bg-color-light">
        <div class="container content-sm">
            <!-- Blog Posts -->
            <div class="news-v3 bg-color-white margin-bottom-60">
                <img class="img-responsive full-width" src="{% static 'img/main/img14.jpg' %}" alt="">

                <div class="news-v3-in">

                    <h2><a href="#">Lettering & Stripes</a></h2>

                    <p>Give to your Car, Truck, Van or Bus the cool styling looking great with a set of Glossy or Matte
                        Stripes, lettering.
                        Perfect Fit Guaranteed. Our vinyl designs have been test fit, refined, and tested again on our
                        very own fleet of vehicles to assure a perfect fit every time.

                        We use only the highest quality Premium Cast Vinyl available on the market today - 3M Wrap Vinyl
                        designed to last at least 8 years of harsh outdoor weather. It's far more durable than our
                        competitors' cheap, calendared vinyl film which starts to degrade in just a couple of years!</p>


                </div>


            </div>
            <!-- End Blog Posts -->

            <div id="grid-container" class="cbp-l-grid-agency cbp cbp-caption-active cbp-caption-zoom cbp-ready"
                 style="height: 1080px;">
                <div class="cbp-wrapper-outer">
                    <div class="cbp-wrapper">
                        <div class="cbp-item graphic" style="width: 570px; left: 0px; top: 0px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/main/img6.jpg' %}" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <ul class="link-captions">

                                                    <li><a href="{% static '/img/main/img6.jpg' %}" class="cbp-lightbox"
                                                           data-title="Design Object"><i
                                                            class="rounded-x fa fa-search"></i></a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design logos" style="width: 570px; left: 570px; top: 0px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/main/img7.jpg' %}" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <ul class="link-captions">

                                                    <li><a href="{% static 'img/main/img7.jpg' %}" class="cbp-lightbox"
                                                           data-title="Design Object"><i
                                                            class="rounded-x fa fa-search"></i></a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item graphic logos" style="width: 570px; left: 0px; top: 360px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/main/img8.jpg' %}" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <ul class="link-captions">

                                                    <li><a href="{% static 'img/main/img8.jpg' %}" class="cbp-lightbox"
                                                           data-title="Design Object"><i
                                                            class="rounded-x fa fa-search"></i></a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cbp-item web-design graphic" style="width: 570px; left: 570px; top: 360px;">
                            <div class="cbp-item-wrapper">
                                <div class="cbp-caption">
                                    <div class="cbp-caption-defaultWrap">
                                        <img src="{% static 'img/main/img9.jpg' %}" alt="">
                                    </div>
                                    <div class="cbp-caption-activeWrap">
                                        <div class="cbp-l-caption-alignCenter">
                                            <div class="cbp-l-caption-body">
                                                <ul class="link-captions">

                                                    <li><a href="{% static 'img/main/img9.jpg' %}" class="cbp-lightbox"
                                                           data-title="Design Object"><i
                                                            class="rounded-x fa fa-search"></i></a></li>
                                                </ul>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}